body {
  background-color: black;
  -webkit-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
  font-family: font-family: 'Open-Sans', sans-serif;
}

.header{
  background-color: black;
}

.parent {
  background-color: transparent;
  height: 100%;
  margin:5%;
  /*margin: 50px;*/
  margin-top: 0px;
}


.navbar-default{
  background-color: black;
  width:100%;
  position:fixed;
  z-index:9;
}


.navbar-default .navbar-toggle {
  border-color: #34ADD4 ;
  border-width: 2px;

}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #34ADD4 !important;

}

.personal {
  color: #34ADD4 !important;

}

.my-main-nav>li{
  color:#34ADD4;
}

.my-social-nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;

}

.my-social-nav img{
  width: 25px;
}

.parent>#logo-box{
  text-align: center;
  background:rgba(19,28,33,.5);
  height:auto;
}

#sample-logo{
  width: 200px;
}

.anchor{
  height: 80px;
}

.box-intro{
  text-align: center;
}

.section-heading{
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  color:black;
  padding-top: 20px;
  padding-bottom:px;
  font-size:30px;
}

.grey-line-heading{
  font-weight: 800;
  color:#a5a7a9;
  font-size: 18px;
  letter-spacing: 1px;

}

.hr{
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height:3px;
  background-color:#000;
  margin-bottom: 60px;

}

#a-little-about-me{
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

.skill-category{
  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.35px;
}
.skill-list {
  margin-top: 7px;
  text-align: left;
  padding-left: 30px;
  font-weight: 300;
  font-size:14px;
}


.cv-section-head{
  text-transform: uppercase;
  color:#000;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.cv-row{
  padding-right: 40px;
  padding-left: 40px;
}

.job-title{
  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}



.col-md-8 h3{
  padding-left: 30px;
}

.job-bullets{
  list-style: square inside none;

  margin-left:none;
  padding-left: none;
}

.job-bullets li{
  margin-left:none;
  padding-left: none;
  padding-top: 5px;
}

.employer-title{

  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;

}

.cv-row:last-of-type{
  margin-bottom: 70px;

}

.box {
  width: 95%;
  min-height: 500px;
  color: #666;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  margin-bottom: 50px;
}



/************************************************________PROJECTS SECTION*/
/*
.container{
 max-width: 1100px;
 padding: 90px;
 postion:relative;

}*/

.container {
  max-width: 1280px;
  padding: 40px 180px;
  background-color: #fff;

}

.project-row{

}

figure.effect {
 /* background-color: #0000;*/
  color: #6d2b46;
}

figure.effect img {
  /*width: -webkit-calc(100% );
  width: calc(100% );*/
  max-width: 100%;

  -webkit-transition: opacity 0.35s; /*-webkit-transform 0.35s;*/
  transition: opacity 0.35s; /*transform 0.35s;*/
 /* -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect:hover img{
  opacity: 0.1;
 /* -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);*/
}

/*figure.effect figcaption {
  text-align: left;
}

figure.effect h3 {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
  opacity: 1;
}

figure.effect h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect p {
  padding-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.project-row:last-of-type{
  margin-bottom: 40px;
}*/




/*********************************************__________PROJECT- HOVER-EFFECT*/












.magnolia {
  background-color: #ECD078;
}

[data-color="#ECD078"] > span {
  color: #ECD078;
}

.brick {
  background-color: #D95B43;
}

[data-color="#D95B43"] > span {
  color: #D95B43;
}

.claret {
  background-color: #542437;
}

[data-color="#542437"] > span {
  color: #542437;
}

.plumage {
  background-color: #53777A;
}

[data-color="#53777A"] > span {
  color: #53777A;
}



/***********************CHANGE CONTENT PADDING ON IPHONE WINDOWS PHONE*/

Notes:

-change box content padding on mobile.  delete parent

- remove z-index on  mobile.

- change anchor points on mobile for better postioning.
/*
//IPHONE
@media only screen and (max-width: 640px) {
  box{
    width: 100%;

  }


}

//Large Android
@media only screen and (max-width: 768px) {


}


//5000 or less*/










































