body {
  background-color: transparent;
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  font-family: font-family: 'Open-Sans', sans-serif;
}

.header{
  background-color: black;
}

.parent {
  background-color: transparent;
  height: 100%;
  width:90%;
  margin:5%;
  margin-top: 0px;
  margin-bottom:0px;
}

.navbar-container{
  background-color: black;
  display:block;
  width: 100%;
  position:fixed;
  z-index:9;
  padding-right: 35px;
  padding-left: 35px;
}

.navbar-default{
  background-color: black;
  max-width: 1280px;
  width:95%;
  margin:0 auto 0 auto;

}


.navbar-default .navbar-toggle {
  border-color: #34ADD4 ;
  border-width: 2px;

}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #34ADD4 !important;

}

.personal {
  color: #34ADD4 !important;

}

.my-main-nav>li{
  color:#34ADD4;
}

.my-social-nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;

}

.my-social-nav img{
  width: 25px;
}

.parent>#logo-box{
  text-align: center;
  background:rgba(19,28,33,.5);
  height:auto;
}

#sample-logo{
  width: 200px;
}

.anchor{
  height: 80px;
}

.box-intro{
  text-align: center;
}

.section-heading{
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6px;
  color:black;
  padding-top: 20px;
  padding-bottom:px;
  font-size:30px;
}

.grey-line-heading{
  font-weight: 800;
  color:#a5a7a9;
  font-size: 18px;
  letter-spacing: 1px;

}

.hr{
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  width: 50%;
  height:3px;
  background-color:#000;
  margin-bottom: 60px;

}

#a-little-about-me{
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

.skill-category{
  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.35px;
}
.skill-list {
  margin-top: 7px;
  text-align: left;
  padding-left: 30px;
  font-weight: 300;
  font-size:14px;
}
.about-me-intro{
  line-height: 2;
  margin-top: 7px;
  text-align: left;
  font-weight: 300;
  font-size:14px;
  padding-bottom: 100px;
}


.cv-section-head{
  text-transform: uppercase;
  color:#000;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.cv-row{
  padding-right: 40px;
  padding-left: 40px;
}

.job-title{
  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
}

.dates{
  color: grey;
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
}

.col-md-8 h3{
  padding-left: 30px;
}

.job-bullets{
  list-style: square inside none;
  margin-left:none;
  padding-left: none;
}

.job-bullets li{
  margin-left:none;
  padding-left: none;
  padding-top: 5px;
}

.employer-title{

  color:#000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300px;

}

.cv-row:last-of-type{
  margin-bottom: 70px;

}

.box {
  max-width: 1280px;
  width: 95%;
  min-height: 500px;
  color: #666;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.9);
  margin-bottom: 50px;
}



/************************************************________PROJECTS SECTION*/


.container {
  max-width: 1280px;
  width:95%;
  /*padding: 40px 180px;*/
  background-color: #fff;

}

.project-row{
  padding-bottom: 2%;
  padding-top: 2%;

}

.project-row:last-of-type{
  margin-bottom: 80px;
}

.effect .pop-out{
  position:absolute;
  top:0;
  right:0;
  width: 50px;
  height:50px;
  background-color:grey;
  z-index:4;
}

.span{
  display:inline-block;
  margin:auto

}

.glyphicon-new-window{
  color:white;
  width: 600%;
  margin-top: 17px;
  margin-left:17px;
}

.effect img {
max-width: 100%;
box-shadow:0px 0px 4px rgba(0,0,0,0.4);
}


.mask {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #781155;
  color:#fff;
  letter-spacing: 1px;
  font-weight:200px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.mask:hover{
  opacity:.65;
}

.mask-content{
  padding: 3%;

}

figure.effect {
  position:relative;
  color: #6d2b46;
  max-width: 391px;
  display:block;
  margin:auto;
  margin-top: 5%;

}

.hr-mask{
  height:3px;
  background-color:#fff;
  margin-bottom: 3%;
}

figure.effect:hover img{
  opacity: 0.05;
  border: solid 5px;
}



/**************************************************************Contact section*/

.contact-container{
  padding:0px 40px;
  font-size: 16px;
}

.contact-list{
  display:inline-   block;
  margin:auto;
  list-style: none;
  text-decoration: none;
}

.hr-contact{
  display:inline-block;
  height: 3px;
  background-color:black;
  width: 95%;
  margin:40px auto 40px auto;
}
.hr-contact:last-of-type{
  margin:60px auto 60px auto;
  width:97%;
}

.contact{
  padding-top: 40px;
}

.contact-list li{
  margin-top: 5%;
}

.contact-list a{
  display:block;
  text-decoration: none;
  color:grey;
}

.contact-list img{
  padding-right: 10px;
  width: 50px;
  opacity: .5;
  transition: all 0.5s linear;
  -webkit-transition: all 0.2s linear;
}

.contact-list a *:hover{
  color:black;
  opacity:1;
}
/************************************************************************************CREDITS*/

.credits{
   color:black;
   margin:auto;
   text-align: center;
   width: 100%;
   letter-spacing: 2px;
   text-transform: uppercase;
   padding-bottom: 50px;
}

.built-by {
  display: inline-block;
  border:solid black 1px;
  padding:11px 20px 3px 20px;
}

/************************************************************************************FOOTER***/

footer{
  background-color: black;
  width: 100%;
  height: 200px;
}


/*******************************************************************8BACKGROUND COLOR CHANGE*/
.magnolia {
  background-color: #ECD078;
}

[data-color="#ECD078"] > span {
  color: #ECD078;
}

.brick {
  background-color: #D95B43;
}

[data-color="#D95B43"] > span {
  color: #D95B43;
}

.claret {
  background-color: #542437;
}

[data-color="#542437"] > span {
  color: #542437;
}

.plumage {
  background-color: #53777A;
}

[data-color="#53777A"] > span {
  color: #53777A;
}



/***********************CHANGE CONTENT PADDING ON IPHONE WINDOWS PHONE*/


@media only screen and (min-width: 991px) {
  .box .contact{

  }







}

/*//Large Android
@media only screen and (max-width: 768px) {


}


//5000 or less*/










































